body{
    background-image: url("images/image4.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    background-color: blue;
}

p{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: large;
}